#curtain-control-panel {
  all: unset;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 170px;
  padding: 15px;
  background: #000;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  color: white;
  font-family: Arial, sans-serif;
  z-index: 10000; /* Ensure it's on top */
  filter: none !important;
}

#curtain-control-panel-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#curtain-control-panel h3 {
  all: unset;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
}

.curtain-label {
  all: unset;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-family: Arial, sans-serif;
  color: white;
}

.curtain-icon {
  margin-left: 10px;
}

.curtain-label input[type="checkbox"] {
  margin-right: 10px;
}

.curtain-close-button {
  all: unset;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.curtain-close-button svg {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: #999;
  stroke-width: 2;
}

#curtain-control-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.curtain-button {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Extending the button */
}

.curtain-button:hover {
  background-color: #f0f0f0;
}

.no-greyscale {
  filter: none !important;
}
